html
	head
		link(rel="shortcut icon", href="/favicon.ico")
		script(src="https://cdn.jsdelivr.net/npm/apexcharts")
		script.
			const teams = !{JSON.stringify(teams)};
		style.
			html, body {
				font-family: "Helvetica"
			}
		title Fantasy Football Stats
	body
		include header.pug
		include managerChart.pug
		include scoringChart.pug
		include weeklyPerformance.pug