label Sort By
select(onchange="onChangeSorting(event.target.value)")
	option(value="diff") Difference
	option(value="for") Points For
	option(value="against") Points Against
#scoringChart
script.
	const average = (teams.map(t => t.regularSeasonPointsFor).reduce((a,b) => a+b) / teams.length).toFixed(2);
	var scoringChartOptions = {
		annotations: {
			yaxis: [
				{
					y: average,
					borderColor: '#FF0000',
					label: {
						text: `Average Points - ${average}`,
						orientation: 'horizontal',
						offsetY: -30,
					},
				},
			],
		},
		chart: {
			type: 'bar',
			animations: {
				speed: 400,
			},
			toolbar: {
				show: false,
			},
			height: 350,
		},
		dataLabels: {
			enabled: false,
		},
		noData: {
			text: 'Loading...',
		},
		series: [
			{
				name: 'Point Difference',
				data: [],
			},
			{
				name: 'Total Points For',
				data: [],
			},
			{
				name: 'Total Points Against',
				data: [],
			}
		],
		title: {
			text: 'Season Points',
			align: 'center',
			margin: 0,
			floating: true,
		},
		xaxis: {
			type: 'category',
			categories: [],
		},
	};

	var scoringChart = new ApexCharts(document.querySelector("#scoringChart"), scoringChartOptions);
	scoringChart.render();

	const onChangeSorting = sortBy => {
		const teamsLocal = [...teams];
		
		// sort teams by given sortBy
		teamsLocal.sort((a,b) => {
			let aValue, bValue;
			switch (sortBy) {
				case "diff":
					aValue = a['regularSeasonPointsFor'] - a['regularSeasonPointsAgainst'];
					bValue = b['regularSeasonPointsFor'] - b['regularSeasonPointsAgainst'];
					break;
				case "for":
					aValue = a['regularSeasonPointsFor'];
					bValue = b['regularSeasonPointsFor'];
					break;
				case "against":
					aValue = a['regularSeasonPointsAgainst'];
					bValue = b['regularSeasonPointsAgainst'];
					break;
				default:
					field = 'totalDifferencePoints';
					break;
			}
			const diff = aValue - bValue;
			return diff === 0 ? 0 : diff < 0 ? -1 : 1;
		});

		const namedTeams = teamsLocal.map(t => `${t.name} (${t.wins}-${t.losses}) - ${t.playoffSeed}`);
		const pointsFor = teamsLocal.map(t => (t.regularSeasonPointsFor).toFixed(2));
		const pointsAgainst = teamsLocal.map(t => (t.regularSeasonPointsAgainst).toFixed(2));
		const pointsDifference = teamsLocal.map(t => (t.regularSeasonPointsFor - t.regularSeasonPointsAgainst).toFixed(2));

		scoringChart.updateSeries([
			{
				name: 'Point Difference',
				data: pointsDifference,
			},
			{
				name: 'Total Points For',
				data: pointsFor,
			},
			{
				name: 'Total Points Against',
				data: pointsAgainst,
			}
		]);
		scoringChart.updateOptions({
			xaxis: {
				categories: namedTeams,
			},
		});
	};
	onChangeSorting('diff');