label Team
select(onchange="onChangeTeam(event.target.value)")
	each team in teams
		option(value=team.id) #{team.name}
label Comparison
select(onchange="onChangeScoringComparison(event.target.value)")
	option(value="personal",selected=true) Actual Vs Max
	option(value="comparison") For Vs Against
#weeklyPerformance
script.
	// choose first team to display
	const team = teams[0];

	const scores = team.scores;
	// sort by week
	scores.sort((a,b) => a.week === b.week ? 0 : Number(a.week) < Number(b.week) ? -1 : 1);

	const weeks = scores.map(({ week }) => week);
	const pointsActual = scores.map(({ actualScore }) => actualScore.toFixed(2));
	const differences = scores.map(({ actualScore, maxScore }) => (maxScore - actualScore).toFixed(2));
	const averageActual = (scores.map(({ actualScore }) => actualScore).reduce((a,b) => a+b) / scores.length).toFixed(2);
	const averageMax = (scores.map(({ maxScore }) => maxScore).reduce((a,b) => a+b) / scores.length).toFixed(2);
	const averageAgainst = (scores.map(({ scoreAgainst }) => scoreAgainst).reduce((a,b) => a+b) / scores.length).toFixed(2);

	var weeklyPerformanceChartOptions = {
		annotations: {
			yaxis: [
				{
					y: averageMax,
					borderColor: '#0000FF',
					label: {
						text: `Avg Max - ${averageMax}`,
					},
				},
				{
					y: averageActual,
					borderColor: '#000000',
					label: {
						text: `Avg Actual - ${averageActual}`,
					},
				},
			],
		},
		chart: {
			height: 350,
			type: 'bar',
			stacked: true,
			toolbar: {
				show: false,
			},
		},
		dataLabels: {
			enabled: false,
		},
		labels: weeks,
		series: [
			{
				name: 'Actual',
				data: pointsActual,
			},
			{
				name: 'Difference',
				data: differences,
			},
		],
		title: {
			text: `Performance by Week - ${team.name}`,
			align: 'center',
			margin: 0,
			floating: true,
		},
		tooltip: {
			shared: true,
			intersect: false,
			followCursor: true,
		},
		xaxis: {
			type: 'category',
			title: {
				text: 'Week',
			},
		},
		yaxis: {
			title: {
				text: 'Points',
			},
			min: 0,
		},
	};

	var weeklyPerformanceChart = new ApexCharts(document.querySelector("#weeklyPerformance"), weeklyPerformanceChartOptions);
	weeklyPerformanceChart.render();

	const onChangeTeam = teamId => {
		// generate data for team
		const team = teams.find(t => t.id == teamId);
		const scores = team.scores;
		scores.sort((a,b) => a.week === b.week ? 0 : a.week < b.week ? -1 : 1);

		const weeks = scores.map(({ week }) => week);
		const pointsActual = scores.map(({ actualScore }) => actualScore.toFixed(2));
		const differences = scores.map(({ actualScore, maxScore }) => (maxScore - actualScore).toFixed(2));
		const averageActual = (scores.map(({ actualScore }) => actualScore).reduce((a,b) => a+b) / scores.length).toFixed(2);
		const averageMax = (scores.map(({ maxScore }) => maxScore).reduce((a,b) => a+b) / scores.length).toFixed(2);

		weeklyPerformanceChart.updateSeries([
			{
				name: 'Actual',
				data: pointsActual,
			},
			{
				name: 'Difference',
				data: differences,
			},
		]);
		weeklyPerformanceChart.updateOptions({
			annotations: {
				yaxis: [
					{
						y: averageMax,
						borderColor: '#FF0000',
						label: {
							text: `Avg Max - ${averageMax}`,
						},
					},
					{
						y: averageActual,
						borderColor: '#000000',
						label: {
							text: `Avg Actual - ${averageActual}`,
						},
					},
				],
			},
			title: {
				text: `Weekly Performance - ${team.name}`,
			},
		});
	};

	const onChangeScoringComparison = comparison => {
		switch (comparison) {
			case "personal":
				const differences = scores.map(({ actualScore, maxScore }) => (maxScore - actualScore).toFixed(2));

				weeklyPerformanceChart.updateSeries([
					{
						name: 'Actual',
						data: pointsActual,
					},
					{
						name: 'Difference',
						data: differences,
					},
				]);

				weeklyPerformanceChart.updateOptions({
					annotations: {
						yaxis: [
							{
								y: averageMax,
								borderColor: '#FF0000',
								label: {
									text: `Avg Max - ${averageMax}`,
								},
							},
							{
								y: averageActual,
								borderColor: '#000000',
								label: {
									text: `Avg Actual - ${averageActual}`,
								},
							},
						],
					},
					chart: {
						stacked: true,
					},
				});
				break;
			case "comparison":
				const pointsAgainst = scores.map(({ scoreAgainst }) => scoreAgainst.toFixed(2));
				
				weeklyPerformanceChart.updateSeries([
					{
						name: 'For',
						data: pointsActual,
					},
					{
						name: 'Against',
						data: pointsAgainst,
					},
				]);

				weeklyPerformanceChart.updateOptions({
					annotations: {
						yaxis: [
							{
								y: averageAgainst,
								borderColor: '#FF0000',
								label: {
									text: `Avg Against - ${averageAgainst}`,
								},
							},
							{
								y: averageActual,
								borderColor: '#000000',
								label: {
									text: `Avg For - ${averageActual}`,
								},
							},
						],
					},
					chart: {
						stacked: false,
					},
				});
				break;
		}
	};
